# Compiled python modules.
*.pyc

# JRDB dataset
data/detections/
train_dataset_with_activity/
data/test_dataset/
data/images/
data/raw/

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
