# Compiled python modules.
*.pyc

# JRDB dataset
human_scene_transformer/data/detections/
human_scene_transformer/train_dataset_with_activity/
human_scene_transformer/data/test_dataset/
human_scene_transformer/data/images/
human_scene_transformer/data/raw/

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
